{% extends 'layouts/main.html' %}
{% block title %}About{% endblock %}
{% block content %}

<div class="page-header">
  <h1>About Page</h1>
</div>
<!DOCTYPE html>
<html>
<body>

<p>Hello! My name is <a href="https://drive.google.com/file/d/14WTn5QV-G70QDDpawcwKgKxAuzC873SL/view?usp=sharing" target="_blank">Daniel Habib</a>, and I am a Junior at Johns Hopkins University studying vape-use in high school social networks.<br><br>

In the <a href="https://www.nejm.org/doi/full/10.1056/nejmsa0706154" target="_blank">New England Journal of Medicine</a>, Dr. Nicholas Christakis and Dr. James Fowler describe how social networks affect and are affected by adults who smoke. The researchers found that smokers were influenced by their peers and were pushed to the periphery of their social networks. Our study investigates related phenomena among high schoolers who vape and aims to gain insight into the local and global social network characteristics that influence vaping by administering a brief survey to high school students. A <b>$10.00 Amazon eGift Card</b> will be sent for every 20 students who want to provide their emails, but this is optional. We also ask participating schools to provide the number of students by grade level to assess response rates. <br><br>

This project is funded by an undergraduate research grant from Johns Hopkins University and supervised by <a href="https://soc.jhu.edu/directory/andrew-j-cherlin/" target="_blank">Dr. Andrew Cherlin</a>, a sociology professor at Johns Hopkins University. Participating high schools and their students remain anonymous, and responses are kept confidential in compliance with guidelines under <u>HIRB00012211</u>. Although the survey asks for names, the names are <i>immediately</i> converted into unlinked identifiers to protect the identity of respondents and to keep answers anonymous even to the researchers. We use a <a href="https://en.wikipedia.org/wiki/SHA-2" target="_blank">secure hash algorithm</a> designed by the National Security Agency (NSA) and entrusted by the U.S. government to protect sensitive information. <br><br>

Although this project may not seem like a high priority during this uncertain time, our short survey should not pose a significant burden to implement. While, of course, there is no pressure to pass this survey along to students, this is a great opportunity for students to help us understand the relationship between vaping and high school social networks as well as inform more effective school-based vape prevention strategies.<br><br>

Please email <a href="mailto:dhabib1@jhu.edu">dhabib1@jhu.edu</a> to share questions, suggestions, concerns, or your school’s interest in participating.</p>

{% endblock %}
