{% extends 'layouts/main.html' %}
{% block title %}Thank You{% endblock %}
{% block content %}

<div class="page-header">
  <h1>Thank You!</h1>
  <p> Your response has been recorded </p>
  <p> Your <u>identifier</u> is <strong>{{ identifier}}</strong> and your <u>passcode</u> is <strong>{{ password }}</strong>. It is very important that you save both your identifier and passcode in a safe place/your notes and do not share them: if you are randomly selected as a winner and someone else has access to your unique passcode, they can redeem your prize. Once the survey is closed, your school administrator will notify you to return to this website and check our list of winners to see if you are selected in our random lottery. If selected, you may type in your passcode to redeem a code for a $20 Amazon eGift card. </p>
</div>

{% endblock %}
