{% extends 'layouts/main.html' %}
{% block title %}Survey{% endblock %}
{% block content %}
  <form method="post" class="form" action="/survey">
    <h2 class="form-heading">
      Vape Survey
    </h2>
    {{ form.hidden_tag() }}
    
    <p>
    By completing this survey, you are consenting to be in this research study. Your participation is voluntary, and you can stop at any time.
    </p>
	
    {% for q_model in form.questions %}
      <h3>Question: {{loop.index}} | {{ q_model.label }}</h3>
      <p>{{q_model.description}}</p>
      {{ form|attr(q_model.label)() }}
      <br/>
    {% endfor %}

    <br/>
    
    <input
      type="submit"
      value="Submit"
      class="btn btn-primary btn-lg btn-block"
    />
    <br />
  </form>
{% endblock %}
